h1{
    color: aliceblue;
}
h2{
    color: red;
}
p{
    color: gold;
}
.div-pai{
    margin: 20px;
    height: 300px;
    width: 600px;
    background-color: black;
}

.div-filho{
    width: 60%;
    height: 40px;
    margin: auto;
    background-color: rgb(50, 50, 50);
    text-align: center;
}

